# Environment configuration example
# ---------------------------------
# File ini adalah contoh/template konfigurasi lingkungan untuk aplikasi Anda.
#Tujuannya untuk menunjukan variabel apa saja yang dibutuhkan oleh project
#tanpa harus membocorkan data sensitif (seperti password,token, atau API key)
NODE_ENV=development 
#Mode aplikasi dijalankan 
#bisa disi: development, production, atau test
#contoh:
#-development->buat ngembangin dan debugging
#-production->buat versi online/publik
#-test->buat testing otomatis

API_BASE_URL=https://api.example.com
#URL utama untuk menakses backend API
#Frontend akan pakai ini untuk fetch data
#Jadi kalau backendpindah server, cukup ubah disini aja, nggak perlu dibuah di semua file JS.

# Catatan tambahan:
# - File ini bisa kamu share di repo (misal GitHub) supaya tim lain tahu apa aja variabel yang harus dibuat.
# - Tapi file `.env` asli (yang berisi nilai sebenarnya) **jangan pernah dishare**, harus masuk ke `.gitignore`.
# - Contoh nyata:
#   NODE_ENV=production
#   API_BASE_URL=https://api.lampungx.id